/* 
White Color: #f7f7f7
Dark Color: #272727
font-family: 'Lato', sans-serif

*/


/* //////////          Universal Styles          ////////// */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* //////////          Common Styles          ////////// */

main{
    
}
section {
    width: 1060px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding: 15px 0;
}

.paragraph {
    color: #777;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}

.color-light {
    color: #f7f7f7;
}

.color-dark {
    color: #272727;
}

.btn{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #E55473;
    color: #f7f7f7;
}

.flex {
    display: flex;
}
.text-center{
    text-align: center;
}


/* //////////     Header Style     ////////// */
.header {
    padding: 100px 100px;
    background-image: url(../assets/images/pngwing10.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: bottom right;
    background-size: contain;
    background-color: #FCEEF1;
}
.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 900;
}
.banner-container p{
    text-align: left;
}

/* //////////     Feature Style     ////////// */
.features{
    justify-content: space-around;
    gap: 50px;
}
.feature-image{
    width: 240px;
    height: 380px;
    padding: 60px 60px 0px 60px;
    border-radius: 200px 200px 0 0;
}

.feature-image-caption{
    color: #010101;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    padding: 20px 0;
    text-decoration: underline;
    font-weight: 700;
}
.feature-img-bg-1{
    background-color: #F1DDE7;
}
.feature-img-bg-2{
    background-color: #D9EFF0;
}
.feature-img-bg-3{
    background-color: #E3EBDB;
}

/* //////////          Deal Style          ////////// */
.deal{
    padding: 40px 200px;
    background-color: #fdf6f8;
    /* width: 100%; */
}
.deal-container{
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    height: 60vh;
}
.deal-btn{
    /* text-align: center;
    display: inline-block;
    margin: 0 auto; */
}

.deal-image img{
    width: 250px;
}


/* Insta Style */
.insta-container{
    justify-content: center;
    gap: 15px;
}
.insta img{
    width: 220px;
}